# LaTeX build files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
*.dinhly
*.dinhnghia
*.py

# VS Code settings (optional, uncomment if you want to ignore)
#.vscode/
